target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath
.vscode/

*.class
*.log
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

.DS_Store
Thumbs.db
